/////////////////////////////////////////////////////Header///////////////////////////////////////

@media screen and (max-width: 700px) {
  .menu-bars {
    display: block !important;
  }
  .nav-menu {
    left: -100%;
  }
  .icons-li {
    display: none;
  }
  .dropdown-toggle {
    display: none !important;
  
  }
  .nav-menu {
    border:0px;
    background-color: #000000ff !important;
  }
  
  .container-main {
    padding-left: 0rem !important
   }
  .header-safuu-btn{
  // display: none !important;
  }
  .list-unstyled {
    flex-direction: column;
    // align-items: left !important;
    // justify-content: left !important;
    li {
      color: #47bd4bff;
      padding: 1rem 2rem;
      font-weight: 700;
    }
  }
}

.offcanvas-title h5{
  display: none !important;
}
.offcanvas-body{
  background-color: #010901FF;
}

.header-safuu-btn{
  margin-left: 25px;
  width: 10rem;
  font-size: 28px !important;
  font-weight: 700 !important;
  border-radius: 15px !important;
  background-color: #34c439ff !important;
}
.header-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.icons-li {
  border: 1px solid #114e13ff !important;
  padding: 2px 6px;
  border-radius: 5px;
  margin-left: 20px;
}
.dropdown-toggle {
  background-color: #011a01ff !important;
  border: 2px solid #114e13ff !important;
  border-radius: 0px !important;
  color: #ffffff;
  margin-left: 50px;
  font-weight: 700 !important;
}

.btn-lg {
  background-color: #34c439ff !important;
  border: 2px solid #114e13ff !important;
  border-radius: 0px !important;
  color: white;
  font-weight: 700 !important;
}
.navbar {
  background-color: #000000ff;
  height: 100px;
  display: flex;
  align-items: left;
  justify-content: center;
  color: white;
  border-bottom: 2px solid #47bd4bff;
}


.nav-menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.menu-bars {
  display: none;
  margin-left: 0.5rem;
  font-size: 4rem;
  color: #34c439ff;
}

.nav-menu {
  margin-left: 1.5rem;
  margin-top: 6rem;
  border: 2px solid #47bd4bff;
  background-color: #000000ff;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: 850ms;
}
.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  
  cursor: pointer;
  font-weight: 600;
  background-color: #011a01ff;
  margin: 5px 0px;
  height: 40px;
  padding-left:30px;
  padding-top: 6px;
  margin-right: 28px;
  width: 80%;
  border-radius: 10px;
}
.span-text-title {
  padding-left: 20px;
  color: white;
}
.span-text {
  padding-left: 20px;
  color: white;
}
.nav-text a {
  text-decoration: none;
}
.nav-text:hover {
  background-color: #34c439ff;
}

/////////////////////////////////////////////////////Home///////////////////////////////////////
.container-main{
  padding-left: 20rem;
  background-image: url("./Media/app-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-right: 3px solid #47bd4bff;
}

  .rounded-circle{
    border: 2px solid green;
    height: 12rem;
    width: 12rem;
    // position: absolute;
    // top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #47bd4b;
    box-shadow: 20px; 
    box-shadow:  0 0 10px 5px green;
    animation: second 1s ease-in-out infinite;

    h2{
      font-weight: 700;
    }
  }
  
  @keyframes second {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.05);
    }
  }  
  

.card-deck {
  .home-card-noborder {
    border: 0px !important;
  }
  .card {
    background-color: transparent;
    border: 1px solid #47bd4bff;
    margin: 2px 0px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 20px;
    .card-title {
      font-size: 24px;
      font-weight: 700;
    }
    .card-text {
      font-size: 20px;
      font-weight: 700;
      color: #34c439ff;
    }
  }
  .mid-card {
    height: 23rem !important;
    .btn-primary {
      background-color: #011a01ff !important;
      border: 2px solid #114e13ff !important;
      border-radius: 0px !important;
    }
  }
}
/////////////////////////////////////////////////////Account///////////////////////////////////////

.card-deck {
  .account-card {
    text-align: left;
  }
}

.card-text-account {
  font-size: 30px;
  font-weight: 700;
  color: #34c439ff;
}
.card-text2 {
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.card-text-left {
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding-bottom: 6px;
}
.card-text-right {
  font-size: 20px;
  font-weight: 700;
  color: #34c439ff;
  padding-bottom: 6px;
}
/////////////////////////////////////////////////////Swap///////////////////////////////////////


.swap-card {
  background-color: #010901 !important;
  border-radius: 20px !important;
  border: 3px solid #47bd4bff !important;
  padding: 20px;
  .swap-text-left {
    text-align: left;
    font-size: 16px;
    font-weight: 700;
  }
  .swap-col2 {
    text-align: right;
  }
  .swap-inner-card {
    border-radius: 20px;
    margin-bottom: 1rem;
    background-color: transparentize($color: #141414, $amount: 0.2);
    .inner-card-col1 {
      text-align: left;
    }
    .inner-card-col2 {
      text-align: right;
    }
    .inner-cardh5 {
      font-size: 20px;
      font-weight: 700;
    }
    .inner-cardp {
      font-size: 15px;
      font-weight: 700;
      color: grey;
    }
  }
  .swap-card-text-l {
    font-weight: 700;
    text-align: left;
  }
  .swap-card-text-r {
    font-weight: 700;
    text-align: right !important;
    color: #47bd4bff;
  }
  .swap-card-btn {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .inner-last-cardh5 {
    font-size: 16px;
  }
  .bi-arrow-down-short {
    font-size: 35px;
  }
}

/////////////////////////////////////////////////////Calculator///////////////////////////////////////

.cal-card {
  padding: 20px;
  .cal-text-heading {
    text-align: left;
    font-size: 20px;
    font-weight: 700;
  }
  .cal-text-left {
    text-align: left;
    font-size: 14px;
  }
  .card-heading {
    border: 0px;
    h5 {
      font-size: 20px !important;
      color: gray;
    }
    p {
      font-size: 24px !important;
      color: white !important;
    }
  }

  .form-group {
    text-align: left !important;
    font-weight: 700;
    .form-control {
      background-color: transparentize($color: #2e2d2d, $amount: 0.3);
      font-weight: 700;
      color: white;
    }
  }
  .cal-inner-card {
    border: 0px;
    .inner-card-col1 {
      text-align: left;
    }
    .inner-card-col2 {
      text-align: right;
    }
  }
}

/////////////////////////////////////////////////////Analytics///////////////////////////////////////

  .emojis{
    font-size: 50px;
    color: orange;
  }

  .investment-btn{
    width: 100%;
    border-radius: 10px !important;
  }

  .analytic-card-last {
    height: 45vh;

    .btn-secondary {
      background-color: transparent !important;
      border-radius: 10px !important;
      color: #47bd4bff;
      font-weight: 600 !important;
    }
  }
  .list-unstyled {
    align-items: center;
    justify-content: center;
    li {
      color: #47bd4bff;
      padding: 1rem 2rem;
      font-weight: 700;
    }
  }


/////////////////////////////////////////////////////Docs///////////////////////////////////////


